.preview-wrapper {
    position:relative;
    height:100%;
    flex-grow: 1;
}

.preview-wrapper iframe {
    width:100%;
    height:100%;
}

.react-draggable-transparent-selection .preview-wrapper {
    pointer-events: none;
}